body{
    background-color: rgb(48, 48, 48) !important;
}


.navbar-logo{
    color: blueviolet !important;
}

.links-nav-1{
    font-size: 20px !important;
   transition-duration: 0.3s !important;
   color: white !important;
}

.links-nav-1 :hover{
    color:blueviolet !important;
    transform-origin: 0.3s  !important;
}

.margin-con{
    margin-top:15%;
}